
.dashboard-chart {
    display: flex;
    flex-direction: column;
    padding: 4px 0px 0px 0px;
    border: 2px solid #475569;
    border-radius: 12px;
    margin: 100px 0px 0px 0px;

    height: 500px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.08);
}

.chart-header {
    padding: 2px 16px 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;

    border-bottom: 1px solid #475569;

    height: 88px;
    flex-shrink: 0;
}

.chart-title {
    font-size: 28px;
}
.chart-header select, option {
    font-size: 28px;
    padding: 12px;

    background-color: darkblue;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.chart-body {
    flex: 1;
}

.chart-body canvas {
    height: 100%;
    background-color: white;
    border-radius: 12px;
}

.dashboard-table {
    display: flex;
    flex-direction: column;
    padding: 4px 0px 0px 0px;
    border: 2px solid #475569;
    border-radius: 4px;
    margin: 100px 0px 0px 0px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.08);
}

.table-title {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 1px solid #475569;
}

.sales-recent-table, .purchase-recent-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    line-height: 1.5;
    width: 100%;
}

.sales-recent-table th, .purchase-recent-table th {
    font-size: 24px;
    background-color: lightblue;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #475569;
}

.sales-recent-table td, .purchase-recent-table td {
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-right: 1px solid #475569;
    border-radius: 4px;
}