.inventory-content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;;
    margin-top: 100px;
    padding: 4px 0px 0px 0px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.08);
}

.inventories {
    border-bottom: 2px solid #475569;
}

.inventory-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    line-height: 1.5;
    width: 100%;
}

.inventory-table th {
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #475569;
}

.inventory-table td {
    font-size: 18px;
    text-align: center;
    background-color: white;
    border-right: 1px solid #475569;
}

.inventory-stock-movement {
    display: flex;
    flex-direction: column;
    padding: 4px 0px 0px 0px;
    border: 1px solid #475569;
    border-radius:4px;
    margin: 100px 0px 0px 0px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.08);
}

.movement-header {
    padding: 12px 40px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #475569;
    height: 48px;
}

.movement-title {
    font-size: 24px;
}

.movement-button {
    background: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.movement-button:active {
    color: red;
}

.movement-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    line-height: 1.5;
    width: 100%;
}

.movement-table th {
    font-size: 24px;
    background-color: lightblue;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #475569;
}

.movement-table td {
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-right: 1px solid #475569;
    border-radius: 4px;
}
